html {
  font-family: "Fredoka", sans-serif;
}

body {
  background-image: url("https://i.pinimg.com/originals/d6/a6/92/d6a692fc1e0489955e2b4ed4ae742c76.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.btn {
  max-width: 20%;
  background-color: grey;
  border: 1px solid black;
}
hr{
    border-color: #fff;
    border-style: solid;
    border-width: 1px;



}
